" try
"<C-]> 跳转到当前标识符的定义位置 （相当于在当前光标位置的单词上按住ctrl用鼠标点击）
"<C-o> 回退一步 (go back)
"<C-i> 前进一步 (go forward)
"'. 跳转到之前修改位置
"'' 在前一次跳转位置与当前位置间切换
"行号 G 或 :行号<回车> 跳转到某一行
"gg 跳转到文件开头
"G 跳转到文件末尾
"H 跳转到屏幕顶端（如果设置了set so=n，则跳转到第n行）
"L 跳转到屏幕底端（如果设置了set so=n，则跳转到倒数第n行）
"M 跳转到屏幕中间
"f 或 F 跳转到本行某个字符，小写f向右查找，大写F向左查找。用;或,在匹配间切换
"t 或 T 跳转到本行某个字符之前，小写t向右查找，大写T向左查找。用;或,在匹配间切换
"/正则表达式 跳转到下一个匹配。用n或N在匹配间切换。
"?正则表达式 跳转到上一个匹配。用n或N在匹配间切换。
" :actionlist [pattern] 
" :action {actionName}

" basic {{{
let mapleader=','

set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set relativenumber
set number
set scrolloff=3
set history=10000
set clipboard=unnamed
" }}}
" easy system clipboard copy/paste {{{
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P
" }}}
" easy window navigation {{{
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k
nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt
" }}}
" actions {{{
" Show all the provided actions via `:actionlist`
nnoremap <space>q :action CloseContent<cr>
nnoremap <space>Q :action ReopenClosedTab<cr>
nnoremap <space>\ :action VimFilePrevious<cr>
nnoremap <space>e :action Switcher<cr>
nnoremap <space>t :action FileStructurePopup<cr>
nnoremap <space>T :action GotoSymbol<cr>
nnoremap <space>a :action GotoAction<cr>
nnoremap <space>b :action ToggleLineBreakpoint<cr>
nnoremap <space>] :action GotoImplementation<cr>
nnoremap <space>[ :action GotoSuperMethod<cr>
nnoremap <space>u :action FindUsages<cr>
nnoremap <space>gt :action GotoTest<cr>
nnoremap <space>k :action HighlightUsagesInFile<cr>
" }}}
" Insert mode shortcut {{{
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>
" }}}
" code navigation {{{
" Quit insert mode
inoremap jk <Esc>
" Move to the start of line
nnoremap H ^
" Move to the end of line
nnoremap L $
" Redo
nnoremap U <C-r>
" Yank to the end of line
nnoremap Y y$

" clear the search buffer when hitting return
nnoremap <space><cr> :nohlsearch<cr>

" Move half page faster
nnoremap <Leader>d  <C-d>
nnoremap <Leader>u  <C-u>

nnoremap \r :action RunClass<cr>
nnoremap \R :action Run<cr>
nnoremap \d :action DebugClass<cr>
nnoremap \D :action Debug<cr>
nnoremap \c :action CheckStyleCurrentFileAction<cr>
" }}}
" other settings {{{
" code refactoring
nnoremap <space>rr :action RenameElement<cr>

" unimpaired mappings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k

" built-in navigation to navigated items works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
" but preserve ideavim defaults
nnoremap g<c-o> <c-o>
nnoremap g<c-i> <c-i>

" built in search looks better
nnoremap / :action Find<cr>
" but preserve ideavim search
nnoremap g/ /
" vim-multiple-cursors commands
set multiple-cursors
" vim-surround
set surround
" }}}
"
" vim:foldmethod=marker:foldlevel=0
